@viewport {
   width: device-width;
   zoom: 1.0;
}

@font-face {
   font-family: crimson;
   src: url(/assets/Fonts/Crimson_Text/CrimsonText-Regular.ttf);
   font-family: trebuchetms;
   src: url(/assets/Fonts/Trebuchet_MS/TrebuchetMS.ttf);
   font-family: gulim;
   src: url(/assets/Fonts/Gulim/Gulim.ttf);
}

* box sizing {
   box-sizing: border-box;
   color: blue;
}

* {
   padding: 0px;
   margin: 0px;
}

a {
   text-decoration: none;
   color: green;
}

a:visited {
   color: brown;
}

a:hover {
   color: purple;
}

div {
   clear: left;
}

body {
   font-family: crimson;
}

.page {
   background-color: rgb(106,146,120);
   min-height: 100vh;
}

/* .header {
   height: 100vh;

}*/

.header h1 {
   font-family: trebuchetms;
   text-transform: uppercase;
   /* text-align: left;
   line-height: 50vh; */
   font-size: 4em;
}

.nav {
   text-align: center;
   padding-bottom: 0.75em;
   border-bottom: black solid 0.15em;
}

.nav nav a {
   padding: 0px;
   margin: .5em;
}

.content a {
   color: Blue;
}

.content ul {
   list-style: none;
}

.footer {
   text-align: left;
   border-top: black solid 0.15em;
}

.footer footer ul {
   padding: 0px;
   margin-top: 0.75em;
}

.footer footer ul li {
   display: inline-block;
   list-style: none;
}
