@viewport {
   width: device-width;
   zoom: 1.0;
}

@font-face {
    font-family: crimson;
    src: url(/assets/Fonts/Crimson_Text/CrimsonText-Regular.ttf);
    font-family: trebuchetms;
    src: url(/assets/Fonts/Trebuchet_MS/TrebuchetMS.ttf);
    font-family: gulim;
    src: url(/assets/Fonts/Gulim/Gulim.ttf);
 }

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0.5rem;
}

/* Splash Page Styles Widescreen */

.splash_page {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto-fit;
  grid-gap: .5rem;
}

.sp_one, .sp_two {
  display: grid;
  justify-content: center;
  align-content: center;
}

.sp_one {
  grid-row: 1/11;
}

.sp_one > h1 {
  grid-column: 1/4;
  grid-row: 1/2;
}

.sp_one > div {
  justify-self: center;
}

.sp_two {
  grid-row: 1/12;
  background-image: url("/uploads/IMG_3006.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

.sp_three {
  grid-column: 1/2;
  grid-row: 11/12;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
}

.sp_three > a {
  justify-self: center;
  text-decoration: none;
  color: green;
}

.sp_three > a:visited {
  justify-self: center;
  text-decoration: none;
  color: green;
}

/* Other Pages */
.page {
  margin: 0;
  padding: 1em;
}

.wrapper {
  padding: 0;
  margin: 0;
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(1em, 33);
  grid-template-rows: repeat(1em, 27);
}

.header {
  grid-column: 1/10;
  grid-row: 1/2;
}

.footer {
  grid-column: 15/33;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: repeat(1fr, 3);
}

.Instagram {
  justify-self: center;
  grid-column: 1/2;
  padding-right: 1em;
}

.GitHub {
  justify-self: center;
  grid-column: 2/3;
  padding-right: 1em;
}

.Mail {
  justify-self: center;
  grid-column: 3/4;
}

.nav {
  grid-column: 10/15;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(1fr, 3);
}

.Home {
  justify-self: center;
  align-self: center;
  grid-column: 1/2;
}

.About {
  justify-self: center;
  align-self: center;
  grid-column:2/3;
}

.Blog {
  justify-self: center;
  align-self: center;
  grid-column: 3/4;
}

.content {
  grid-column: 10/15;
  grid-row: 4/27;
}
