<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{ page.title }}</title>
      <link rel="stylesheet" href="/assets/css/smallscreen.css" media="screen and (max-width: 830px)">
      <link href="/assets/css/widescreen.css" rel="stylesheet" media="screen and (min-width: 830px)">
   </head>
   <body>
      <div class="page">
         <div class="wrapper">
            <div class="nav">
               {% include navigation.html %}
            </div>
            <div class="header">
               <h1>Owen Stewart Clarke</h1>
            </div>
            <div class="content">
               {{content}}
            </div>
            <div class="footer">
              {% include footer.html %}
            </div>
         </div>
      </div>
   </body>
   {% include analytics.html %}
</html>
