<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{ page.title }}</title>
      <link href="/assets/css/widescreen.css" rel="stylesheet" media="screen and (min-width: 828px)">
   </head>
   <body>
      <div class="page">
         <div class="header">
            <h1>Owen Stewart C</h1>
         </div>
         <div class="nav">
            {% include navigation.html %}
         </div>
         <div class="content">
            {{content}}
         </div>
         <div class="footer">
            <footer>
               <ul>
                  <li><a href="mailto:owen.Stewart.c@gmail.com">email</a></li>
                  <li><a href="https://github.com/owenstewartc">gitHub</a></li>
               </ul>
            </footer>
         </div>
      </div>
   </body>
</html>
